<table>
    <thead>
        <tr style="color:rgb(255,255,255);font-size:12px;line-height:19.200000762939453px;background-color:rgb(61,133,198)">
            <th>ACTION</th>
            <th>ID</th>
            <th>CATEGORIA_ID</th>
            <th>CATEGORIA</th>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th>POSITION</th>
            <th>IS_ACTIVE</th>
            <th>IMAGEN</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in entities %}
            {% for publicacion in categoria.publicaciones %}
            <tr>
            <td></td>    
            <td>{{ publicacion.id }}</td>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria }}</td>
            <td>{{ publicacion.titulo }}</td>
            <td>{{ publicacion.precio | number_format }}</td>
            <td>{{ publicacion.position }}</td>
            <td>{{ publicacion.isActive }}</td>
            <td>
                {% if publicacion.imagen | length > 0 %}
                    {{ publicacion.imagen }}
                {% endif %}
            </td>
            </tr>
            {% endfor %}
        {% endfor %}    
    </tbody>
</table>