{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %}

{% block contenido %}
    <article class="buscador">
        <div class="buscador row ">
            <div class="titulo col-lg-6">
                <h2>busque el producto deseado: </h2>
            </div>
            <div class="formulario col-lg-6">
                <input type="text" class="buscador">
            </div>
        </div>
    </article>
    <section  class="sectionCotizador row">
        <article class="productosList col-lg-6">
            <table class="productosList table">
                <thead>
                    <tr class="encabezadoItem">
                        <th>Categoria</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="listaProductos">
                    
                </tbody>
            </table>
        </article>
        <article class="cotizador  col-lg-6">
            <h3 class="comentario">doble click el producto para agregar</h3>
            <table class="formulario table">
               <tbody id="listaFormulario">
                        
               </tbody>	
           </table>
        </article>
    </section>

{% raw %}
<script type="text/template" id="productos_template">
    {% for producto in productos %}
        {% if producto.seleccionado == false %}
        <tr class="productoItem" data-id='{{producto.id}}'>
        <td>
            {{producto.categoria}}
        </td>
        <td>{{ producto.titulo|raw }}</td>
        <td>${{ producto.precio|number_format}}</td>
        </tr>
        {% endif %}
    {% endfor %}
</script>
<script type="text/template" id="formulario_template">
    {% for producto in productos %}
        {% if producto.seleccionado %}
        <tr class="productoItemSel" data-id="{{producto.id}}">
          <td>
            <input type="hidden" name="producto[{{loop.index-1}}][id]">
            {{producto.producto}}
          </td>
          <td class="tdCantidad">
            <input type="text" class="productoItemCantidad" name="producto[{{loop.index-1}}][cantidad]" value="{{producto.cantidad}}">
            <button class="productoItemCantidadUp"></button>
            <button class="productoItemCantidadDown"></button>
          </td>
          <td>
            $ {{producto.cantidad * producto.precio}}
          </td>
       </tr>
       {% endif %}
    {% endfor %}
</script>
{% endraw %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/main.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
    <script>
        $(document).ready(function() {
            $("a.fancybox").fancybox();
            $("a.fancybox-media").fancybox({
                helpers: {
                    media: true
                },
                youtube: {
                    autoplay: 0
                }
            });
            $.iniciarCircle();
        });

    </script>
<script src="{{asset('bundles/frontend/js/app_cotizador.js')}}"></script>  
<script type="text/javascript">
$(function(){
    window.api = {
      datos: [
          {% for categoria in categorias %}
            {% for producto in categoria.publicaciones %}
                {
                  id: {{ producto.id }},
                  slug: '{{ producto.slug }}',
                  categoria: '{{ categoria }}',
                  producto: '{{ producto.titulo }}',
                  precio: {{ producto.precio }},
                  seleccionado: false,
                  cantidad: 0,
                },
            {% endfor %}
          {% endfor %}                
      ],      
    };
    $(".loader").fadeIn();
    window.routers.app = new Productos.Routers.App();
    window.collections.productos = new Productos.Collections.Productos(window.api.datos);
    window.collections.productos.url='/productos';
    $(".loader").fadeOut();
    Backbone.history.start({
        root : '/',
        pushState:false
    });
});
</script> 
{% endblock %}
