{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %}

{% block contenido %}
    <article class="buscador">
        <div class="buscador row ">
            <div class="titulo col-lg-6">
                <h2>busque el producto deseado: </h2>
            </div>
            <div class="formulario col-lg-6">
                <input type="text" class="buscador">
            </div>
        </div>
    </article>
    <section  class="sectionCotizador row">
        <article class="productosList col-lg-6">
            <table class="productosList table">
                <thead>
                    <tr class="encabezadoItem">
                        <th>Categoria</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="listaProductos">
                    
                </tbody>
            </table>
        </article>
        <article class="cotizador  col-lg-6">
            <h3 class="comentario">doble click el producto para agregar</h3>
            <table class="formulario table">
               <tbody id="listaFormulario">
                        
               </tbody>
			   <tfoot>
			   	<tr>
					<td colspan="3" id="importeTotal" style="text-align: right;">Importe total $</td>
				</tr>
			   </tfoot>
           </table>
		   <button id="enviarPedido" class="btn btn-danger right">Enviar pedido</button>
        </article>
    </section>

{% raw %}
<script type="text/template" id="productos_template">
        <td>
            {{ categoria }}
        </td>
        <td>{{ producto|raw }}</td>
        <td>{{ get_precio}}</td>
</script>
<script type="text/template" id="formulario_template">
          <td>
            <input type="hidden" name="producto[][id]" value="{{id}}">
            {{producto | raw }}
          </td>
          <td class="tdCantidad">
            <input type="text" class="productoItemCantidad" name="producto[][cantidad]" value="{{cantidad}}" readyonly="readyonly">
            <button class="productoItemCantidadUp"></button>
            <button class="productoItemCantidadDown"></button>
          </td>
          <td>
            {{get_importe}}
          </td>
</script>
{% endraw %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/main.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
    <script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
    <script>
        $(document).ready(function() {
            $("a.fancybox").fancybox();
            $("a.fancybox-media").fancybox({
                helpers: {
                    media: true
                },
                youtube: {
                    autoplay: 0
                }
            });
        });

    </script>
<script src="{{asset('bundles/frontend/js/app_cotizador.js')}}"></script>  
<script type="text/javascript">
$(function(){
    
	window.api = {
      datos: [
          {% for categoria in categorias %}
            {% for producto in categoria.publicaciones %}
                {
                  id: {{ producto.id }},
                  slug: '{{ producto.slug }}',
                  categoria: '{{ categoria }}',
                  producto: '{{ producto.titulo }}',
                  precio: {{ producto.precio }},
                  seleccionado: false,
                  cantidad: 0,
                },
            {% endfor %}
          {% endfor %}                
      ],      
    };
    
	$(".loader").fadeIn();
    window.routers.app = new Productos.Routers.App();
    window.collections.productos = new Productos.Collections.Productos(window.api.datos);
    window.collections.productos.url='/productos';
    $(".loader").fadeOut();
	
    Backbone.history.start({
        root : '/',
        pushState:false
    });
	
	$("#enviarPedido").on('click', function(e){
            e.preventDefault();
            var productos = window.collections.productos.where({seleccionado: true});
            var datos = {
                pedidos: []
            };
            var dato={};
            if (productos && productos.length > 0){
                for (var cont = 0; cont < productos.length; cont++) {
                    dato = {
                        id: productos[cont].get('id'),
                        producto: productos[cont].get('producto'),
                        cantidad: productos[cont].get('cantidad'),
                        precio: productos[cont].get('precio'),
                        importe: productos[cont].get('importe')
                    };
                    datos.pedidos.push(dato);
                }
                $.ajax({
                    url: '{{path('frontend_enviar_pedido')}}',
                    data: datos,
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        alert(data.mensaje);
						if(data.enviado){
							window.collections.productos.quitarSeleccionados();
							views.listProductos.render();
							views.listFormulario.render();
						}
                        console.log(data);
                    },
                    error: function(data) {
					    debugger;
                        alert("Error en datos");
                        console.log(data);
                    }
                });
            }else{
                alert('No hay productos selecionados');
            }
        });

	
	
});

</script> 
{% endblock %}
