{% extends '::base.html.twig' %}

{% block title %}Pedido{% endblock %}

{% block body %}
<h1>Pedido desde Maldivino.com</h1>
<ul>
<li><strong>Cliente: </strong>{{datos.nombreCliente}}</li>
<li><strong>Email: </strong>{{datos.emailCliente}}</li>
<li><strong>Telefono: </strong>{{datos.telefonoCliente}}</li>
</ul>
<table>
	<thead>
	<tr  style="background-color: gray;color: white;">
		<th>Producto</th>
		<th>Cantidad</th>
		<th>Precio</th>
		<th>Importe</th>
	</tr>
	</thead>
	<tbody>
	{% set importe = 0 %}
	{% for producto in datos.pedidos %}
		<tr>
			<td>
				{{producto.producto}}
			</td>
			<td>
				{{producto.cantidad|number_format(2,'.',',')}}
			</td>
			<td>
				${{producto.precio|number_format(2,'.',',')}}
			</td>
			<td>
				${{producto.importe|number_format(2,'.',',')}}
			</td>
		</tr>
		{% set importe = importe + producto.importe %}
	{% endfor %}
	</tbody>
	<tfoot>
		<tr  style="background-color: gray;color: white;">
			<td colspan="3">Importe total </td>
			<td>${{importe|number_format(2,'.',',')}}</td>
		</tr>
	</tfoot>
</table>
{% endblock %}