{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <style>
    .bx-wrapper .bx-viewport{
        padding: 0px;
        border: none;
        top: 0px;
        left: 0px;
    }
    
    </style>
{% endblock %}

{% block contenido %}
   <article class="maldivinoExpress">
		<figure class="logo">
			<img src="{{asset('images/keyarts/logoexpress.png')}}" alt="">
		</figure>   
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni similique amet sunt quas distinctio sint expedita cumque voluptatibus cum ipsa ipsum recusandae inventore aliquid velit esse consequatur facere harum cupiditate.</p>

	</article>                               
                                
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
$(document).on("ready",function(){
        $('.galeriaContenedor').bxSlider({
            randomStart: false,
            pager: false,
            auto: true,
            controls: false,
            speed: 1000,
            autoHover: true,
        });
		
                
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
        
        $('.anuncios').carousel({
            interval: 5000,
            pause: "hover",
        })

});
    
</script>
{% endblock %}