{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <style>
        .bx-wrapper .bx-pager.bx-default-pager a:hover,
        .bx-wrapper .bx-pager.bx-default-pager a.active {
            background: red;
        }
		.bx-wrapper .bx-controls-direction a.bx-next{
			right: -40px;
		}
		.bx-wrapper .bx-controls-direction a.bx-prev{
			left: -50px;
		}
    </style>
{% endblock %}

{% block contenido %}
        <article class="slidePrincipal">
            <div class="galeria">
                <ul class="lista">
                    {% for galeria in pagina.galerias %}
                        <li class="item">
						<img src="{{galeria.webPath | apply_filter('galerias_carrusel')}}" alt="{{galeria.titulo}}"></li>
                    {% endfor %}
                </ul>
				<span id="slider-prev"></span>
                <span id="slider-next"></span>
            </div>
        </article>
	<article class="quienessomos">
		{{ pagina.contenido | raw }}
		<figure class="logo">
			<img src="{{pagina.webPath}}" alt="">
		</figure>
	</article>                               
                                
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
$(document).on("ready",function(){
        $('.lista').bxSlider({
                randomStart: false,
                pager: true,
                auto: true,
                controls: true,
                speed: 1000,
                autoHover: true,
                slideWidth: 642,
            });
		
                
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });


});
    
</script>
{% endblock %}


