{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
    <style>
    .bx-wrapper .bx-viewport{
        padding: 0px;
        border: none;
        top: 0px;
        left: 0px;
    }
    
    </style>
{% endblock %}

{% block header_class 'inicio' %}

{% block contenido %}
            <article class="slide-principal">
                <div id="galeriaPrincipal">
				<ul class="sliderGaleria">
					{% for galeria in pagina.galerias %}
						<li><img src="{{galeria.webPath}}" alt=""></li>
					{% endfor %}
				</ul>
				</div>

            </article>
			
            <article class="promociones row">
				{% for promocion in promociones %}
					<div class="promocion col-lg-6">
						<figure class="promocion-imagen">
							<img src="{{promocion.webPath}}" alt="">
						</figure>
						<div class="promocion-contenido">
							{{promocion.contenido|raw}}
						</div>
					</div>
                {% endfor %}
            </article>
                               
                                
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/jquery.bxslider.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
$(document).on("ready",function(){
        setTimeout(function(){
            iniciarCircle();
        },6000);

        $('.sliderGaleria').bxSlider({
            randomStart: false,
            pager: false,
            auto: true,
            controls: false,
            speed: 1000,
            autoHover: true,
        });
		
                
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
        iniciarlizarFormNewsletter();
        
        $('.anuncios').carousel({
            interval: 5000,
            pause: "hover",
        })

});
    
</script>
{% endblock %}


