{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %}

{% block contenido %}
        <article class="servicios">
            <h2>nuestros servicios</h2>
      			<ul class="servicios">
      			    {% for servicio in range(1,6) %}
      				<li class="servicio">
      					<figure class="logo">
      						<img src="http://placehold.it/200x200&text={{servicio}}" alt="">
      					</figure>
      					<div class="contenido">
      						<h3>Titulo del servicio {{servicio}}</h3>
      						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut sunt accusamus ad neque blanditiis eaque dolore necessitatibus ipsa id. Eos doloremque iure maiores ratione repellat facere atque dolores non?</p>
      					</div>
      				</li>
      				{% endfor %}
      			</ul>
        </article>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
    });
</script>
{% endblock %}
