{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %}

{% block contenido %}
    <article class="servicios">
        <h2>nuestros servicios</h2>
        <ul class="servicios">
            {% for servicio in servicios %}
                <li class="servicio">
				    {% if servicio.imagen | length > 0 %}
                    <figure class="logo">
                       <a href="{{servicio.webPath }}" class="fancybox">
                          <img src="{{servicio.webPath  | apply_filter('servicios')}}" alt="{{servicio.servicio}}">
                       </a>
                    </figure>
					{% else %}
					<figure class="logo">
                       <img src="http://placehold.it/200x200/ffffff/ffffff&text=sin imagen" alt="">
                    </figure>
					{% endif %}
                    <div class="contenido">
                        <h3>{{servicio.servicio}}</h3>
                        {{ servicio.descripcion | raw }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/main.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox.pack.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox();
                
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
                autoplay: 0
            }
        });
    });
</script>
{% endblock %}
